<div>
    <a href="{{ path('article_index') }}" title="Retour à l'accueil">
        <img src="{{ asset('img/galaxy-spiral-s.png') }}" alt="Space Blog Logo">
        <img src="{{ asset('img/SpaceBlog.png') }}" alt="Space Blog Name">
    </a>
</div>